Before you turn this homework in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All). If you get error messages, the grader will get the same errors and won't be able to grade your work. 

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE". You may delete the line(s) that say "**raise** NotImplementedError()" and replace them with your actual work. Write all your work in the cells provided in this notebook. **DO NOT** add or delete any cells. 

Please fill in your name in the cell below.

In [1]:
NAME = "Jennifer Luu"

---

# Homework 11

In this assignment, we're continuing to work with the Sakila database that you installed for your previous Homework assignment. The database contains records of a ficticious chain of DVD video rental stores. Remember, that an ER diagram of the Sakila database is provided on the Homework page on Canvas. 

Log on to the database as a user who has proviledges to the database. Type 

```
USE Sakila;
```

**Note:** If you were unable to install MySQL on your machine, you should still be able to write down the SQL code that you would need to run the queries.

Shown below is how I would like you to format your answers for this assignment: Show the SQL code that you are using to find the answer and state the answer to each question. Both of these can be done in a Markdown cell. You *do not* have to write code using python connector.

**Example Question:** How many different countries are represented in the country table? 

**Example Answer:**

SQL code: 

```DESC country;``` (to learn what the variables are called - or look at the ER diagram.).

```SELECT DISTINCT country FROM country;```

Answer: 109 different countries

### Problem 1

Find the full names (first name and last name) of all customers whose first name begins with 'Ed'. Display them in a table.

SQL code:
```SELECT first_name, last_name FROM customer WHERE first_name LIKE 'Ed%';```


| first_name | last_name |
|:-----:|:-----:|
| EDNA       | WEST      |
| EDITH      | MCDONALD  |
| EDWARD     | BAUGH     |
| EDWIN      | BURK      |
| EDDIE      | TOMLIN    |
| EDGAR      | RHOADS    |
| EDUARDO    | HIATT     |

### Problem 2

If the film titles are ordered alphabetically, which three movies come alphabetically first?

SQL code: ```SELECT title FROM film ORDER BY title ASC LIMIT 3;```

The first three film titles in alphabetical order are:


| title                       |
:-----:
| ACADEMY DINOSAUR            |
| ACE GOLDFINGER              |
| ADAPTATION HOLES            |

### Problem 3

Produce a table of film titles, rental rates, ratings, and movie categories (by name, not by id number) for all G-rated Sci-Fi films.

SQL code: 
```SELECT f.title, f.rental_rate, f.rating, c.name FROM film as f JOIN film_category as fm ON f.film_id = fm.film_id JOIN category AS c ON fm.category_id = c.category_id WHERE f.rating = "G" AND c.name = "Sci-Fi";```

Table: 


| title                | rental_rate | rating | name   |
|:--------------------:|:----------:-|:-----:-|:------:|
| ANNIE IDENTITY       |        0.99 | G      | Sci-Fi |
| ARMAGEDDON LOST      |        0.99 | G      | Sci-Fi |
| BARBARELLA STREETCAR |        2.99 | G      | Sci-Fi |
| CHEAPER CLYDE        |        0.99 | G      | Sci-Fi |
| CITIZEN SHREK        |        0.99 | G      | Sci-Fi |
| COLDBLOODED DARLING  |        4.99 | G      | Sci-Fi |
| DAISY MENAGERIE      |        4.99 | G      | Sci-Fi |
| GARDEN ISLAND        |        4.99 | G      | Sci-Fi |
| MARRIED GO           |        2.99 | G      | Sci-Fi |
| SUICIDES SILENCE     |        4.99 | G      | Sci-Fi |

### Problem 4

Some of the actors in the actor table have the same last names. Produce a table of last names of actors and counts of how many actors have that same last name (your table should have exactly the two columns "last_name" and "count").  Order the table first by counts in decreasing order and then alphabetically by last name and only display last names for cases where at least three actors share the same last name.

SQL code:
```SELECT last_name, COUNT(*) FROM actor GROUP BY last_name HAVING COUNT(*) >= 3 ORDER BY COUNT(*) DESC, last_name ASC;```

Table: 

| last_name | COUNT(*) |
|:---------:|:------:|
| KILMER    |        5 |
| NOLTE     |        4 |
| TEMPLE    |        4 |
| AKROYD    |        3 |
| ALLEN     |        3 |
| BERRY     |        3 |
| DAVIS     |        3 |
| DEGENERES |        3 |
| GARLAND   |        3 |
| GUINESS   |        3 |
| HARRIS    |        3 |
| HOFFMAN   |        3 |
| HOPKINS   |        3 |
| JOHANSSON |        3 |
| KEITEL    |        3 |
| PECK      |        3 |
| TORN      |        3 |
| WILLIAMS  |        3 |
| WILLIS    |        3 |
| ZELLWEGER |        3 |

### Problem 5

Write SQL code to return the count of the number of copies of the film 'WESTWARD SEABISCUIT' that are in the inventory. Your return table should have just one line (I don't want to have to pick out the answer out of a large table manually).

SQL code: ```SELECT i.inventory_id, COUNT(*), ft.title FROM inventory AS i JOIN film_text AS ft ON i.film_id = ft.film_id WHERE ft.title = "WESTWARD SEABISCUIT";```



| inventory_id | COUNT(*) | title               |
|:-----------:|:----------:|:-----:|
|         4434 |        7 | WESTWARD SEABISCUIT |