In [11]:
import pandas as pd
import numpy as np
from IPython.display import display

def group_means(X):
    # YOUR CODE HERE
    Y = X.groupby(["labels"]).mean() #group the data by label and take the mean of each group
    Y.rename(columns = {"labels": "","weights": "average weight"}, inplace = True)
    Y.index.name = ""
    return Y

In [12]:
labels = ['orange','grape','banana','grape','banana','banana','apple','melon','orange','banana','banana','melon','orange','melon','apple','melon','grape','orange','orange','banana']
weights = [ 131, 6, 140, 5, 139, 131, 190, 2003, 123, 134, 146, 2134, 133, 1963, 173, 2011, 3, 141, 134, 162]
X = pd.DataFrame({'labels':labels, 'weights' : weights})
X
group_means(X)

        average weight

apple       181.500000
banana      142.000000
grape         4.666667
melon      2027.750000
orange      132.400000